body {
    margin:0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header h1, header h2 {
    margin: 0; 
}
header {
    color:white;
    background-color: rgb(60, 60, 239);
    padding:1.25em;
}

header h3:not(:last-of-type) {
    padding:6px;
    border-bottom: .0625rem solid white; 
    margin-bottom: .625em; 
}
header h2{
    color:aqua;
}
section {
    padding:.375em;
}
section h3 {
    font-size: 1.75rem;
}
section p {
    line-height: 1.5;
}
.image-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 1.25em auto 0;
    gap:.375rem; /*here we can write this into this unit also there won't be any problem*/
    align-items: center;
}

.img1, .img2 {
    width: auto;
    max-width: 95%;
    height: auto;
}
.last-section p{
    font-size: 1.5rem;
}
.last-section a {
    background-color: rgb(42, 45, 147);
    text-decoration: none;
    border-radius:.375rem;
    display:block;
    margin:.375em;
    color:white;
    padding:.375em;
}   
.last-section .second-btn {
    background-color: rgb(6, 161, 228);
}
@media(min-width:481px) {
   .second-container {
        display:flex;
        justify-content: space-between;
        margin-left:auto;
    }
    header {
        display: flex;
        justify-content: space-between;
        
    }
    header h3:not(:last-of-type) {
        padding:0px;
        border-bottom: 0px; 
        margin-bottom: 0px; 
        margin-right: .5em;
    }
    .image-container {
        display: flex;
        flex-direction: row;
    }
    .img1, .img2 {
        width: 45%;
        max-width: 100%;
    }
    .btn{
        display:flex;
        justify-content: center;
    }
    .second-container{
        margin-right:2em;
    }
    .first-container{
        margin-left: 3em;
    }
}